.flipbook-wrapper {
  background-color: lightgray;
  .react-pdf__Document {
    display: flex;
    flex-direction: row;
  }
  .flipbook-buttons {
    align-items: center;
    & > div {
      display: flex;
      justify-content: center;
      .btn {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        .icon {
          width: 1.5em;
          height: 1.5em;
        }
      }
    }
  }
}
